<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='index.css') }}"
		/>
    </head>
    <body>
        <header>
            <nav>
                <div class="nav-wrapper">
                    <a href="{{url_for('landing_page')}}" class="brand-logo">COVID-19 Enrichment</a>
                </div>
            </nav>            
        </header>
		<main>
			<div class="container">
				<!-- Page Content goes here -->
				{% block content %}{% endblock %}
			</div>
		</main>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>

