<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <header>
            <nav>
                <a href="{{url_for('index')}}">Home</a>|
                <a href="{{url_for('about')}}">About</a>|
                <a href="{{url_for('hello_world', name='World')}}">Hello World</a>|
                <a href="{{url_for('gene_query')}}">Gene Query</a>|
                <a href="{{url_for('gene_query', gene='STAT3')}}">STAT3</a>
            </nav>            
        </header>
        <div>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>